* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
}

:root {
  --PrimaryColor: hsla(26, 93%, 50%);
  --HoverColor: hsla(26, 90%, 42%);
  --whiteColor: hsla(0, 0%, 100%);
  --blackColor: hsla(0, 0%, 18%);
  --textColor: hsla(240, 1%, 48%);
  --whiteColorDeam: hsla(0, 0%, 93%);
  --greyBg: hsla(0, 0%, 96%);
  --inputColor: hsla(330, 12%, 97%);
  --greyText: rgb(190, 190, 190);
  --SecondaryColor: hsl(204, 33%, 97%);
  --MainColor: hsl(20, 4%, 13%);
  --ThirdColor: hsl(214, 10%, 34%);
  --OnHoverColor: hsl(210, 10%, 14%);
  --ButtonHover: hsl(210, 17%, 98%);
  --GoldColor: hsl(38, 36%, 51%);
  --MoreGoldColor: hsl(38, 59%, 48%);
}

.ourStory .secContainer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.ourStory .secContainer .ourStoryMainContent {
  margin: 4rem;
}
.ourStory .secContainer .ourStoryMainContent .title {
  color: var(--blackColor);
  line-height: 1.5rem;
  padding-bottom: 0.8rem;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.ourStory .secContainer .ourStoryMainContent .title .subtitle {
  color: var(--GoldColor);
}
.ourStory .secContainer .ourStoryMainContent .storyContent {
  background: var(--MainColor);
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.ourStory .secContainer .ourStoryMainContent .storyContent .singleItem {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.ourStory .secContainer .ourStoryMainContent .storyContent .singleItem img {
  border-radius: 1rem;
  border: 1px solid var(--whiteColor);
  height: 300px;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
}
.ourStory .secContainer .ourStoryMainContent .storyContent .singleItem img:hover {
  transform: scale(1.05);
  transition: 3s ease;
}
.ourStory .secContainer .ourStoryMainContent .storyContent .singleItem h1 {
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 0.8rem;
  color: var(--whiteColor);
}
.ourStory .secContainer .ourStoryMainContent .storyContent .singleItem p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 1rem;
  color: var(--whiteColor);
}
.ourStory .secContainer .ourStoryMainContent .visionContent {
  padding: 0 5rem 0 5rem;
  background: var(--greyBg);
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.ourStory .secContainer .ourStoryMainContent .visionContent .singleItem {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.ourStory .secContainer .ourStoryMainContent .visionContent .singleItem h1 {
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 0.8rem;
  color: var(--blackColor);
}
.ourStory .secContainer .ourStoryMainContent .visionContent .singleItem h1 .subtitle {
  color: var(--GoldColor);
}
.ourStory .secContainer .ourStoryMainContent .visionContent .singleItem p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 1rem;
  color: var(--blackColor);
}
.ourStory .secContainer .ourStoryMainContent .visionContent .lastItem {
  grid-column: 1/3;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.ourStory .secContainer .ourStoryMainContent .visionContent .lastItem h1 {
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 0.8rem;
  color: var(--blackColor);
}
.ourStory .secContainer .ourStoryMainContent .visionContent .lastItem h1 .subtitle {
  color: var(--GoldColor);
}
.ourStory .secContainer .ourStoryMainContent .visionContent .lastItem h3 {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 0.5rem;
}
.ourStory .secContainer .ourStoryMainContent .visionContent .lastItem p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 1rem;
  color: var(--blackColor);
}
.ourStory .secContainer .ourStoryMainContent .historyContent {
  margin-top: 5rem;
  padding: 0 6rem 2rem 6rem;
  background: var(--MainColor);
  border-radius: 15px;
  display: grid;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.ourStory .secContainer .ourStoryMainContent .historyContent .hisTitle {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 40px;
  font-weight: 500;
}
.ourStory .secContainer .ourStoryMainContent .historyContent .hisTitle .title {
  color: var(--GoldColor);
}
.ourStory .secContainer .ourStoryMainContent .historyContent .firstItem {
  text-align: center;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-self: center;
}
.ourStory .secContainer .ourStoryMainContent .historyContent .firstItem h1 {
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 0.8rem;
  color: var(--whiteColor);
}
.ourStory .secContainer .ourStoryMainContent .historyContent .firstItem h1 .icons {
  color: var(--GoldColor);
}
.ourStory .secContainer .ourStoryMainContent .historyContent .firstItem h1 .subtitle {
  color: var(--GoldColor);
}
.ourStory .secContainer .ourStoryMainContent .historyContent .firstItem p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 1rem;
  color: var(--whiteColor);
}
.ourStory .secContainer .ourStoryMainContent .historyContent .middleItem {
  justify-self: center;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.ourStory .secContainer .ourStoryMainContent .historyContent .middleItem h1 {
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 0.8rem;
  color: var(--whiteColor);
}
.ourStory .secContainer .ourStoryMainContent .historyContent .middleItem h1 .icons {
  color: var(--GoldColor);
}
.ourStory .secContainer .ourStoryMainContent .historyContent .middleItem h1 .subtitle {
  color: var(--GoldColor);
}
.ourStory .secContainer .ourStoryMainContent .historyContent .middleItem p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 1rem;
  color: var(--whiteColor);
}
.ourStory .secContainer .ourStoryMainContent .historyContent .lastItem {
  justify-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.ourStory .secContainer .ourStoryMainContent .historyContent .lastItem h1 {
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 0.8rem;
  color: var(--whiteColor);
}
.ourStory .secContainer .ourStoryMainContent .historyContent .lastItem h1 .icons {
  color: var(--GoldColor);
}
.ourStory .secContainer .ourStoryMainContent .historyContent .lastItem h1 .subtitle {
  color: var(--GoldColor);
}
.ourStory .secContainer .ourStoryMainContent .historyContent .lastItem p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 1rem;
  color: var(--whiteColor);
}/*# sourceMappingURL=ourstory.css.map */