:root {
    --PrimaryColor: hsla(26, 93%, 50%);
    --HoverColor: hsla(26, 90%, 42%);
    --whiteColor: hsla(0, 0%, 100%);
    --blackColor: hsla(0, 0%, 18%);
    --textColor: hsla(240, 1%, 48%);
    --whiteColorDeam: hsla(0, 0%, 93%);
    --greyBg: hsla(0, 0%, 96%);
    --inputColor: hsla(330, 12%, 97%);
    --greyText: rgb(190, 190, 190);
    --SecondaryColor: hsl(204, 33%, 97%);
    --MainColor: hsl(20, 4%, 13%);
    --ThirdColor: hsl(214, 10%, 34%);
    --OnHoverColor: hsl(210, 10%, 14%);
    --ButtonHover: hsl(210, 17%, 98%);
    --GoldColor: hsl(38, 36%, 51%);
    --MoreGoldColor: hsl(38, 59%, 48%);
}


.ourStory{
    .secContainer{
        padding-top: 2rem;
        padding-bottom: 2rem;

    .ourStoryMainContent {
        margin: 4rem;


        .title {
            color: var(--blackColor);
            line-height: 1.5rem;
            padding-bottom: .8rem;
            text-align: center;
            font-size: 45px;
            font-weight: 600;
            margin-bottom: 2rem;

            .subtitle {
                    color: var(--GoldColor);
                }
        }

        .storyContent {
            background: var(--MainColor);
            border-radius: 15px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            margin-bottom: 3rem;
            .singleItem {
                text-align: center;
                margin-top: 1.5rem;
                margin-bottom: .5rem;
                margin-left: 1rem;
                margin-right: 1rem;

                img {
                    border-radius: 1rem;
                    border: 1px solid var(--whiteColor);
                    height: 300px;
                    width: 100%;
                    max-width: 400px; // Adjust width as needed
                    overflow: hidden;

                    &:hover {
                        transform: scale(1.05);
                        transition: 3s ease;
                    }

                }

                h1 {
                    font-size: 35px;
                    font-weight: 500;
                    padding-bottom: .8rem;
                    color: var(--whiteColor);
                }

                p {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    padding-bottom: 1rem;
                    color: var(--whiteColor);
                }
            }

        }
        

        .visionContent {
            padding: 0 5rem 0 5rem;
            background: var(--greyBg);
            border-radius: 15px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto;
            gap: 1rem;
            justify-content: center;
            align-items: center;
    
            .singleItem {
                text-align: center;
                margin-top: 1.5rem;
                margin-bottom: .5rem;
                margin-left: 1rem;
                margin-right: 1rem;

    
                h1 {
                    font-size: 35px;
                    font-weight: 500;
                    padding-bottom: .8rem;
                    color: var(--blackColor);
                    .subtitle {
                            color: var(--GoldColor);
                        }
                }
    
                p {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    padding-bottom: 1rem;
                    color: var(--blackColor);
                }
            }


            .lastItem {
                grid-column: 1 / 3;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-top: 1.5rem;
                margin-bottom: .5rem;
                margin-left: 1rem;
                margin-right: 1rem;
        
        
                h1 {
                    font-size: 35px;
                    font-weight: 500;
                    padding-bottom: .8rem;
                    color: var(--blackColor);

                    .subtitle{
                        color: var(--GoldColor);
                    }
                }
                h3{
                    font-weight: 500;
                    font-size: 20px;
                    padding-bottom: .5rem;
                }
        
                p {
                    
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    padding-bottom: 1rem;
                    color: var(--blackColor);
                }
            }
    
        }





        .historyContent {
            margin-top: 5rem;
            padding: 0 6rem 2rem 6rem;
            background: var(--MainColor);
            border-radius: 15px;
            display: grid;
            gap: 1rem;
            justify-content: center;
            align-items: center;

            .hisTitle{
                padding-top: 2rem;
                padding-bottom: 1rem;
                font-size: 40px;
                font-weight: 500;

                .title{
                    color: var(--GoldColor);
                }
            }
    
            .firstItem {
                text-align: center;
                margin-top: 1.5rem;
                margin-left: 1rem;
                margin-right: 1rem;
                justify-self: center;
                
    
                h1 {
                    font-size: 35px;
                    font-weight: 500;
                    padding-bottom: .8rem;
                    color: var(--whiteColor);
                    .icons {
                            color: var(--GoldColor);
                        }
    
                    .subtitle {
                        color: var(--GoldColor);
                    }
                }
    
                p {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    padding-bottom: 1rem;
                    color: var(--whiteColor);
                }
            }
    
            .middleItem {
                justify-self: center;
                text-align: center;
                margin-bottom: .5rem;
                margin-left: 1rem;
                margin-right: 1rem;
    
                h1 {
                    font-size: 35px;
                    font-weight: 500;
                    padding-bottom: .8rem;
                    color: var(--whiteColor);
                    .icons {
                            color: var(--GoldColor);
                        }
    
                    .subtitle {
                        color: var(--GoldColor);
                    }
                }
    
                p {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    padding-bottom: 1rem;
                    color: var(--whiteColor);
                }
            }
    
            .lastItem {
                justify-self: center;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-bottom: .5rem;
                margin-left: 1rem;
                margin-right: 1rem;
    
                h1 {
                    font-size: 35px;
                    font-weight: 500;
                    padding-bottom: .8rem;
                    color: var(--whiteColor);
                    .icons{
                        color: var(--GoldColor);
                    }
    
                    .subtitle {
                        color: var(--GoldColor);
                    }
                }
    
                p {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                    padding-bottom: 1rem;
                    color: var(--whiteColor);
                }
            }
        }

    }

    }
}