:root {
  --PrimaryColor: hsla(26, 93%, 50%);
  --HoverColor: hsla(26, 90%, 42%);
  --whiteColor: hsla(0, 0%, 100%);
  --blackColor: hsla(0, 0%, 18%);
  --textColor: hsla(240, 1%, 48%);
  --whiteColorDeam: hsla(0, 0%, 93%);
  --greyBg: hsla(0, 0%, 96%);
  --inputColor: hsla(330, 12%, 97%);
  --greyText: rgb(190, 190, 190);
  --SecondaryColor: hsl(204, 33%, 97%);
  --MainColor: hsl(20, 4%, 13%);
  --ThirdColor: hsl(214, 10%, 34%);
  --OnHoverColor: hsl(210, 10%, 14%);
  --ButtonHover: hsl(210, 17%, 98%);
}

/* Default Styling*/

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.section {
  padding: 1rem 0 1rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;

}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
}

.btn {
  padding: .4rem 1.5rem;
  background: var(--blackColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
}

.btn a {
  color: var(--whiteColor);
  font-weight: 500;

}

.btn:hover a {
  color: var(--whiteColor);
}

.secIntro {
  max-width: 70%;
  text-align: center;
  margin: 0 auto 2rem;
}

.secIntro .secTitile {
  color: var(--blackColor);
  line-height: 1.5rem;
  padding-bottom: .5rem;
}

.secIntro p {
  font-size: 13px;
  color: var(--textColor);
  font-weight: 500;
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
}


.footer {
  background: var(--greyBg);
  padding: 2rem 0;
}
.footer .secContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  text-align: left;
  padding: 0 8rem;
}
.footer .secContainer .footerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer .secContainer .footerLogo .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .secContainer .footerLogo .logo img {
  height: 80px;
  width: 180px;
}
.footer .secContainer .footerLogo .logo .angad {
  margin-top: 0.3rem;
  font-size: 10px;
  font-weight: 600;
  color: var(--blackColor);
}
.footer .secContainer .footerLogo .slogan {
  margin-top: 0.5rem;
  font-size: 14px;
  color: var(--MainColor);
}
.footer .secContainer .footerLinks,
.footer .secContainer .footerSocial,
.footer .secContainer .footerSubscription {
  display: flex;
  flex-direction: column;
}
.footer .secContainer .footerLinks .linkTitle,
.footer .secContainer .footerSocial .linkTitle,
.footer .secContainer .footerSubscription .linkTitle {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--blackColor);
}
.footer .secContainer .footerLinks li,
.footer .secContainer .footerSocial li,
.footer .secContainer .footerSubscription li {
  list-style: none;
  margin-bottom: 0.5rem;
}
.footer .secContainer .footerLinks li a,
.footer .secContainer .footerSocial li a,
.footer .secContainer .footerSubscription li a {
  color: var(--textColor);
  text-decoration: none;
}
.footer .secContainer .footerLinks li a:hover,
.footer .secContainer .footerSocial li a:hover,
.footer .secContainer .footerSubscription li a:hover {
  color: var(--blackColor);
}
.footer .secContainer .footerLinks .socials,
.footer .secContainer .footerSocial .socials,
.footer .secContainer .footerSubscription .socials {
  display: flex;
  gap: 1rem;
}
.footer .secContainer .footerLinks .socials .icon,
.footer .secContainer .footerSocial .socials .icon,
.footer .secContainer .footerSubscription .socials .icon {
  font-size: 38px;
  color: var(--blackColor);
}
.footer .secContainer .footerLinks .socials .icon:hover,
.footer .secContainer .footerSocial .socials .icon:hover,
.footer .secContainer .footerSubscription .socials .icon:hover {
  color: var(--textColor);
  background: var(--greyText);
}
.footer .secContainer .footerLinks p,
.footer .secContainer .footerSocial p,
.footer .secContainer .footerSubscription p {
  color: var(--textColor);
  font-size: 14px;
}
.footer .secContainer .footerLinks p.bot,
.footer .secContainer .footerSocial p.bot,
.footer .secContainer .footerSubscription p.bot {
  margin-bottom: 1rem;
}
.footer .secContainer .footerLinks .subscribeButton,
.footer .secContainer .footerSocial .subscribeButton,
.footer .secContainer .footerSubscription .subscribeButton {
  width: 200px;
  height: 50px;
  background: var(--blackColor);
  color: var(--whiteColor);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 14px;
}
.footer .secContainer .footerLinks .subscribeButton:hover,
.footer .secContainer .footerSocial .subscribeButton:hover,
.footer .secContainer .footerSubscription .subscribeButton:hover {
  background: var(--greyBg);
  color: var(--blackColor);
}/*# sourceMappingURL=footer.css.map */