// src/DirectoryTable.scss
.directory-table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
        text-align: left;

        th,
        td {
            border: 1px solid #ddd;
            padding: 10px;
            vertical-align: middle;
        }

        th {
            background-color: #f4f4f4;
            color: #333;
        }

        .category {
            font-weight: bold;
        }

        tr.general {
            background-color: #dce7ff;
        }

        tr.groups {
            background-color: #fff2cc;
        }

        tr.divisions {
            background-color: #d2e8e1;
        }

        .division-title {
            font-weight: bold;
            background-color: #d2e8e1;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    }
}