@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
}

:root {
  --PrimaryColor: hsla(26, 93%, 50%);
  --HoverColor: hsla(26, 90%, 42%);
  --whiteColor: hsla(0, 0%, 100%);
  --blackColor: hsla(0, 0%, 18%);
  --textColor: hsla(240, 1%, 48%);
  --whiteColorDeam: hsla(0, 0%, 93%);
  --greyBg: hsla(0, 0%, 96%);
  --inputColor: hsla(330, 12%, 97%);
  --greyText: rgb(190, 190, 190);
  --SecondaryColor: hsl(204, 33%, 97%);
  --MainColor: hsl(20, 4%, 13%);
  --ThirdColor: hsl(214, 10%, 34%);
  --OnHoverColor: hsl(210, 10%, 14%);
  --ButtonHover: hsl(210, 17%, 98%);
  --GoldColor: hsl(38, 36%, 51%);
}

.blog .secContainer {
  padding: 2rem 2rem;
  border-top: 1px solid var(--greyText);
  border-bottom: 1px solid var(--greyText);
}
.blog .secContainer .secIntro {
  margin-bottom: 3rem;
}
.blog .secContainer .secIntro .secTitle {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.blog .secContainer .secIntro p {
  font-size: 20px;
  color: var(--textColor);
  font-weight: 500;
  text-align: center;
}
.blog .secContainer .mainContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.blog .secContainer .mainContainer .singleNews {
  flex: 1;
  max-width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog .secContainer .mainContainer .singleNews .imgDiv {
  height: 200px;
  /* Maintain your height */
  width: 90%;
  /* Full width */
  border-radius: 1rem;
  border: 5px solid var(--greyBg);
  box-shadow: 0 2px 8px 2px var(--blackColor);
  overflow: hidden;
  /* Hide overflow to prevent any part of the image from being visible outside the div */
}
.blog .secContainer .mainContainer .singleNews .imgDiv:hover img {
  transform: scale(1.1);
  transition: 3s ease;
}
.blog .secContainer .mainContainer .singleNews .imgDiv img {
  height: 100%;
  /* Make image fill the height */
  width: 100%;
  /* Make image fill the width */
  -o-object-fit: cover;
     object-fit: cover;
  /* Ensure the image covers the entire div, maintaining aspect ratio */
  -o-object-position: center;
     object-position: center;
  /* Center the image within the div */
}
.blog .secContainer .mainContainer .singleNews .postDetails h3 {
  padding-top: 1rem;
  color: var(--OnHoverColor);
  font-weight: 550;
  padding-bottom: 10px;
  text-align: center;
}
.blog .secContainer .mainContainer .singleNews .postDetails p {
  font-size: 14px;
  color: var(--textColor);
  font-weight: 500;
  text-align: center;
}
.blog .secContainer .mainContainer .singleNews a {
  text-decoration: none;
  padding-top: 0.5rem;
  font-size: 15px;
  color: var(--ThirdColor);
  font-weight: 600;
  width: -moz-max-content;
  width: max-content;
}
.blog .secContainer .mainContainer .singleNews a:hover {
  color: var(--textColor);
  font-weight: 600;
  transform: translateX(10px);
}
.blog .secContainer .btnContainer {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
.blog .secContainer .btnContainer .btnnews {
  padding: 1rem 2rem;
  background-color: var(--GoldColor);
  border: 2px solid var(--whiteColor);
  color: var(--whiteColor);
  cursor: pointer;
  border-radius: 20px;
}
.blog .secContainer .btnContainer .btnnews:hover {
  background-color: transparent;
  border: 1px solid var(--blackColor);
  color: var(--GoldColor);
}
.blog .secContainer .btnContainer .btnnews a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.blog .secContainer .btnContainer .btnnews a:hover {
  color: var(--textColor);
}/*# sourceMappingURL=newsfront.module.css.map */